[Unit]
Description=Servei de Backup de la Infraestructura GSX (Llegeix config_backups.txt)

[Service]
Type=oneshot
# Indiquem la ruta absoluta al script
ExecStart=/opt/admin/scripts/backup_data.sh
# Systemd l'executarà com a root, de manera que els comandos 'sudo' de dins l'script no demanaran contrasenya
User=root
